*{
  margin: 0px;
  padding: 0px;
}
body{
  box-sizing: border-box;
}
.menu-container{
  background-color: transparent;
  height: 7vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
}
.menu-container>h1{
  font-family:"Philosopher";
}
.menu-container{
  display: flex;
  align-items: center;
  gap: 25%;
  padding: 0px 30px;
}
  .nav-list{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #393939;
    font-size: 20px;
    font-weight: 500 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .image-container{
    background: url(https://img.freepik.com/free-photo/abstract-brown-background-leaf-shadow-light-studio-empty-backdrop-product-display-scene-product-placement-3d-illustration_56104-1843.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
.image-container{
  display: flex;
  align-items: center;
}
.big-text{
  width: 50%;
  text-align: center;
  font-size: 1.5em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.big-text>h1{
  padding-top: 50px;
  line-height: 125%;
}
#quizbtn{
  height: 9vh;
  padding: 0px 15px;
  letter-spacing: 3px;
  margin-top: 20px;
  background-color: #393939;
  outline: none;
  border: none;
  font-size: 15px;
  color: white;
  font-family:"Philosopher";
  font-weight: 900;
}
#quizbtn:hover{
  cursor: pointer;
}
.section-2{
  display: flex;
  align-items: center;
}
.sec2-left{
  width: 50%;
}
.text-container{
  padding: 0px 10rem;
  font-size: 25px;
  text-align: center;
}
.sec2-left h2{
  font-family: "Philosopher";
  color: #333333;
}
.sec2-left p{
  margin-top: 20px;
  line-height: 30px;
}
.sec2-right{
  width: 50%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
